<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="inRiver_ICCRService" />
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding
          name="inRiver_ICCRService"
          receiveTimeout="00:10:00"
          maxReceivedMessageSize="2000000" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint
        name="inRiver_ICCRService"
        address="https://remoting.productmarketingcloud.com/CCRService"
        binding="basicHttpsBinding"
        bindingConfiguration="inRiver_ICCRService"
        contract="CcrService.ICCRService"/>
    </client>
    <services>
      <service name="StarRepublic.Ipmc.PrintTinkerer.Proxy.CcrProxyService">
        <endpoint
          name="inRiver_ICCRService"
          address="http://localhost:8123/"
          binding="basicHttpBinding"
          bindingConfiguration="inRiver_ICCRService"
          contract="CcrService.ICCRService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>