<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="IpmcClusters" type="System.Configuration.DictionarySectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="Environment" value=""/>
  </appSettings>

  <IpmcClusters>
    <add key="Sandbox" value="https://partner.remoting.productmarketingcloud.com/ccrservice"/>
    <add key="Production" value="https://remoting.productmarketingcloud.com/ccrservice"/>
  </IpmcClusters>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding
          name="inRiver_ICCRService"
          maxReceivedMessageSize="2000000"
          receiveTimeout="00:10:00"
          sendTimeout="00:10:00"/>
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint
        name="inRiver_ICCRService"
        binding="basicHttpsBinding"
        bindingConfiguration="inRiver_ICCRService"
        contract="CcrService.ICCRService"/>
    </client>
  </system.serviceModel>
</configuration>